<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>655643500544-3j2jm5q98oenq4v7lndk6ig1iq57l689.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655643500544-3j2jm5q98oenq4v7lndk6ig1iq57l689</string>
	<key>API_KEY</key>
	<string>AIzaSyBDgSoZHW162KcsMqzD83mWX7l3Kx8wxAs</string>
	<key>GCM_SENDER_ID</key>
	<string>655643500544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ForrestApps.PotatoParty</string>
	<key>PROJECT_ID</key>
	<string>potatoparty-9ac99</string>
	<key>STORAGE_BUCKET</key>
	<string>potatoparty-9ac99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:655643500544:ios:a1b276d1fe4561a9</string>
	<key>DATABASE_URL</key>
	<string>https://potatoparty-9ac99.firebaseio.com</string>
</dict>
</plist>